# Case - RCA 集中性分析

Copyright © 2019 Hsu Shih-Chieh

In [6]:
%load_ext autoreload
%autoreload 2

from datasets import load_rca
import numpy as np
import pandas as pd
from functools import reduce
from IPython.display import display

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

### Load Data

In [27]:
data = load_rca() 
print(data.DESCR)

RCA dataset
---------------------------

**Data Set Characteristics:**

    :Number of Instances:
        - test: 3468
        - sfc: 3308
        - parts: 16544

    :Number of Attributes:
        - test: 13
        - sfc: 11
        - parts: 11

    :Test Attributes information:
        - SN: UUT序號
        - Station: 測試工站
        - Stationcode: 測試工站ID
        - Machine: 測試設備ID
        - start_time: 測試開始時間
        - end_time: 測試結束時間
        - isTestFail: 是否測試Fail
        - symptom: 測試徵狀
        - desc: 測試結果說明
        - uploadtime: 紀錄上傳時間
        - emp: 空欄位
        - ver1: 測試軟體版本號
        - ver2: 測試軟體版本號

    :SFC Attributes information:
        - ID: SFC ID
        - SN: 產品序號
        - WO: 工單
        - HH_Part: 鴻海料號
        - CUST_Part: 客戶料號
        - assembline: 組裝線體
        - scantime: 掃描barcode時間
        - na1: 空欄位
        - na2: 空欄位
        - product: 產品名稱
        - floor: 組裝樓層

    :PARTS Attributes information:
        - ID: SFC ID
        - PARTSN: 物料序號
        - scantime: 掃描barcode時間
        - opid: 作業員工號
        - assembly_station: 組裝工站
        - part: 物料代號
        - HH_Part: 鴻海料號
        - CUST_Part: 客戶料號
        - line: 組裝線體
        - na1: 空欄位
        - na2: 空欄位

    :source code: datasets/base.py

    :method: load_rca()


**讀取數據Sample Code**

::
    from datasets import load_rca
    data = load_rca()


**Model Characteristics/Flow**

    :關注工站: 計算測試工站良率, 關注良率最差的工站

    :關注Symptom: 從良率最差工站的不良品中，計算Symptom不良數量, 關注不良數量最多的Symptom

    :組大表: 分別從三份數據裡面將可分析的人機料欄位放入同一張大表
        - test_df: 測試工站+測試設備
        - sfc_df: 工單號
        - part_df: VendorID, DateCode

    :物料序號編碼規則解析: 根據廠商自訂的序號編碼規則將序號解析為廠商代碼(VendorID)與出廠日期(DateCode)

    :標記是否為Symptom Fail: 在大表中多加一個欄位, 標記是否為Symptom (Scan3StreakFlare) Fail的序號(ID)

    :人機料集中性運算: 大表中每一個欄位都是一項人機料風險因子, 依序計算每一項風險因子的不良品分佈的統計指標

    :集中性指標:
        - 不良數量
        - 不良總數
        - 產出數量
        - 產出總數
        - 集中性
        - 產出比例

    :source code: img_rca.ipynb


專案說明：
工廠內的系統組裝線, 因為產品越來越複雜, 組裝工藝也跟著變得更複雜, 造成生產一個產品必須經過十幾個組裝與測試站點, 當測試不通過時, 生產組長難以快速判斷造成測試不通過的原因. 這個專案假設造成測試不良的原因為測試前的物料組裝過程, 可能是作業員組裝手法的因素(人), 也可能是自動化組裝設備的異常(機), 也可能是來料異常(料), 透過集中性分析的方式, 快速的歸納測試不良的手機, 再上訴的三大原因與站點中, 是否存在共通的風險因子, (例如測試不良品的某一顆螺絲, 都是由同一個作業員組裝), 再利用統計的顯著性檢定, 將眾多的風險因子篩選與排序, 提供給用戶最有可能的三大風險因子, 加速生產主管的問題排查速度.


..  image:: img/rca.png
    :height: 500
    :width: 500

Issue:
    - Issue:
        - SFC_ID和SN一樣, 無法用不同的SFC_ID辨識維修前後的物料, 不過可以用時間先後順序辨識最新組裝物料
        - SFC_ID和SN一樣, 所以SFC這張表沒有用?

    - Test_Data可用欄位：測試工站+測試設備
    - SFC_Data可用欄位：WO
    - PART_Data可用欄位：part+partsn, part+opid


Reference:
- 集中性分析筆記 (`link1`_)


.. _link1: https://hackmd.io/fkemgqRbQlOQmGK9lk1jdA

### 測試工站良率計算
- TLEOL的測試良率最差, 因為只有一個測試工站

In [7]:
test_df = data.test
for p in  test_df['Station'].unique():
    failcnt  = test_df.groupby('Station').get_group(p).groupby('SN')['isTestFail'].sum()
    failsnlist = failcnt[np.where(failcnt>1)[0]].index.unique()
    test_df['isTrueFail'] = test_df.apply(lambda row: row['Station']==p and row['SN'] in list(failsnlist),axis=1)
    
station_gby = test_df.groupby(['Station'])
station_failgby = test_df[test_df['isTrueFail']==1].groupby(['Station'])
station = station_gby.groups.keys()
production = station_gby['SN'].nunique()
failqty = station_failgby['SN'].nunique()
yieldtable = pd.concat([failqty,production], axis=1)
yieldtable.columns=['fail qty','prouction']
yieldtable['failrate']=yieldtable['fail qty']/yieldtable['prouction']
yieldtable.fillna(0)

/usr/local/lib/python3.6/site-packages/ipykernel_launcher.py:12: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  if sys.path[0] == '':

               fail qty  prouction  failrate
CSA_PackNShip       0.0        131   0.00000
TLEOL              23.0       3300   0.00697

**算Top1 Fail Station的Symptom Fail數量**
- 鎖定 Symptom: Scan3StreakFlare

In [14]:
symptom_gby = station_gby.get_group('TLEOL').fillna('NAN').drop_duplicates(subset=['SN','isTrueFail'])
symptom_gby = symptom_gby.where(tmp['isTrueFail']==1).groupby('symptom').sum()
symptom_gby
#有些事NAN所以symptom fail總數不等於23

                                        isTestFail  isTrueFail
symptom
NAN                                            4.0         4.0
Scan3GetTargetInfo.2; Scan3StreakFlare         1.0         1.0
Scan3StreakFlare                              17.0        17.0
Scan3StreakRGB                                 1.0         1.0

**組大表**

In [20]:
partdict = {}
dfs=[]
sfc_df = data.sfc
parts_df = data.parts
#---- Test_station machine ----        
for p in  test_df['Station'].unique():
    d = test_df.groupby('Station').get_group(p)
    d=d[['SN','Machine']]
    d.columns=['ID','{}_Machine'.format(p)]
    partdict[p]=d
    dfs.append(d)
    
#---- SFC_WO ----            
sfc_gby = sfc_df.groupby('ID')    
wo_df = pd.DataFrame(sfc_gby['WO'].max()).reset_index()
dfs.append(wo_df)

#---- PART_PARTSN ----
for p in  parts_df['part'].unique():
    d = parts_df.groupby('part').get_group(p)
    d=d[['ID','PARTSN']]
    d.columns=['ID','{}_PARTSN'.format(p)]
    partdict[p]=d
    dfs.append(d)

#---- PART_OPID ----    
for p in  parts_df['part'].unique():
    d = parts_df.groupby('part').get_group(p)
    d=d[['ID','opid']]
    d.columns=['ID','{}_OPID'.format(p)]
    partdict[p]=d
    dfs.append(d)
    
df_final = reduce(lambda left,right: pd.merge(left,right,on='ID', how='outer'), dfs)
df_final = df_final.drop_duplicates('ID')
print(df_final.shape)
df_final.head()

(3309, 14)

,ID,CSA_PackNShip_Machine,TLEOL_Machine,WO,CD_PARTSN,C44_PARTSN,4BH6_PARTSN,CAL_PARTSN,LK_PARTSN,CD_OPID,C44_OPID,4BH6_OPID,CAL_OPID,LK_OPID
0,CN8BS7C3GT,LC_CSA_PackNShip_01,NaN,296205081.0,CD184600760,C448462PF3,4BH6618J13151094,CAL84648TD,C18X040A3AFAC,F1034891,F1034891,F1034891,F1034891,F1034891
1,CN8BS7C4GB,LC_CSA_PackNShip_01,NaN,296205081.0,CD18460076K,C448473B0Y,4BH6618J03032107,CAL84646FS,C18X020WUVFAC,F1034891,F1034891,F1034891,F1034891,F1034891
2,CN8BT7C02X,LC_CSA_PackNShip_01,NaN,296205546.0,CD18460076G,C44847376Q,4BH6618J04218019,CAL8464D49,C18X020NC2FAC,F1034891,F1034891,F1034891,F1034891,F1034891
3,CN8BT7C050,LC_CSA_PackNShip_01,LC_TLEOL_39,296205546.0,CD18460075K,C448473P61,4BH6618I10328068,CAL8470LDV,C18X020F6EFAC,F1034891,F1034891,F1034891,F1034891,F1034891
4,CN8BT7C060,LC_CSA_PackNShip_01,LC_TLEOL_29,296205546.0,CD18460075K,C448473NP2,4BH6618J03101061,CAL8470K7P,C18X0412YYFAC,F1034891,F1034891,F1034891,F1034891,F1034891

**根據物料序號編碼規則解析VENDOR與DATECODE**

In [21]:
df_final['LK_VENDOR'] = df_final['LK_PARTSN'].map(lambda sn:str(sn)[8:10])
df_final['CD_VENDOR'] = df_final['CD_PARTSN'].map(lambda sn:sn[0:2])
df_final['CD_DATECODE'] = df_final['CD_PARTSN'].map(lambda sn:'_'.join([sn[0:2], sn[2:6]]))   
df_final['CAL_VENDOR'] = df_final['CAL_PARTSN'].map(lambda sn:sn[0:3])
df_final['CAL_DATECODE'] = df_final['CAL_PARTSN'].map(lambda sn:'_'.join([sn[0:3], sn[3:6]]))
df_final['LK_VENDOR'] = df_final['LK_PARTSN'].map(lambda sn:str(sn)[8:10])
df_final['LK_DATECODE'] = df_final['LK_PARTSN'].map(lambda sn:'_'.join([str(sn)[8:10], str(sn)[1:5]]))
df_final['C44_VENDOR'] = df_final['C44_PARTSN'].map(lambda sn:sn[0:3])
df_final['C44_DATECODE'] = df_final['C44_PARTSN'].map(lambda sn:'_'.join([sn[0:3], sn[3:6]]))
df_final['4BH6_VENDOR'] = df_final['4BH6_PARTSN'].map(lambda sn:sn[0:4])
df_final['4BH6_DATECODE'] = df_final['4BH6_PARTSN'].map(lambda sn:'_'.join([sn[0:4], sn[9:14]]))

**標記是否為Symptom Fail**
- symptom: Scan3StreakFlare

In [23]:
failsnlist = test_df[test_df['isTrueFail']==1].drop_duplicates(['SN','Station']).groupby('symptom').get_group('Scan3StreakFlare')['SN'].unique()
df_final['isSymptomFail'] = df_final['ID'].map(lambda sn: 1 if sn in failsnlist else 0)
df_final = df_final.fillna('NA')

**集中性運算**

In [31]:
riskfactor = df_final.columns
riskfactor = list(filter(lambda x: ('OPID' in x) or ('Machine' in x) or ('VENDOR' in x) or ('DATECODE' in x), riskfactor))
for r in riskfactor:
    #Fail Qty
    fqty = df_final.groupby(r)['isSymptomFail'].sum()
    total_fqty = pd.Series(data=[fqty.sum()]*len(fqty.index), index=fqty.index)
    #Production Qty
    pqty = df_final.groupby(r)['isSymptomFail'].count()
    total_pqty = pd.Series(data=[pqty.sum()]*len(pqty.index), index=pqty.index)
    rcatable = pd.concat([fqty,total_fqty,pqty,total_pqty], axis=1)
    rcatable.columns=['fail qty','total fail qty','prouction qty','total production qty']
    rcatable['commonality']= rcatable['fail qty']/rcatable['total fail qty']
    rcatable['produciton ratio']= rcatable['prouction qty']/rcatable['total production qty']
    display(rcatable)

,fail qty,total fail qty,prouction qty,total production qty,commonality,produciton ratio
CSA_PackNShip_Machine,,,,,,
LC_CSA_PackNShip_01,0,17,131,3309,0.0,0.039589
NA,17,17,3178,3309,1.0,0.960411

,fail qty,total fail qty,prouction qty,total production qty,commonality,produciton ratio
TLEOL_Machine,,,,,,
LC_TLEOL_01,0,17,74,3309,0.000000,0.022363
LC_TLEOL_02,0,17,71,3309,0.000000,0.021457
LC_TLEOL_03,0,17,69,3309,0.000000,0.020852
LC_TLEOL_04,1,17,62,3309,0.058824,0.018737
LC_TLEOL_05,0,17,64,3309,0.000000,0.019341
LC_TLEOL_06,0,17,72,3309,0.000000,0.021759
LC_TLEOL_07,0,17,75,3309,0.000000,0.022665
LC_TLEOL_08,0,17,73,3309,0.000000,0.022061
LC_TLEOL_09,0,17,75,3309,0.000000,0.022665
LC_TLEOL_10,1,17,71,3309,0.058824,0.021457
LC_TLEOL_11,0,17,70,3309,0.000000,0.021154
LC_TLEOL_12,0,17,71,3309,0.000000,0.021457
LC_TLEOL_13,0,17,83,3309,0.000000,0.025083
LC_TLEOL_14,0,17,88,3309,0.000000,0.026594
LC_TLEOL_15,0,17,87,3309,0.000000,0.026292
LC_TLEOL_16,1,17,73,3309,0.058824,0.022061
LC_TLEOL_17,0,17,77,3309,0.000000,0.023270
LC_TLEOL_18,1,17,77,3309,0.058824,0.023270
LC_TLEOL_20,0,17,53,3309,0.000000,0.016017
LC_TLEOL_21,1,17,56,3309,0.058824,0.016924
LC_TLEOL_22,1,17,72,3309,0.058824,0.021759
LC_TLEOL_23,0,17,72,3309,0.000000,0.021759
LC_TLEOL_24,0,17,78,3309,0.000000,0.023572
LC_TLEOL_25,1,17,76,3309,0.058824,0.022968
LC_TLEOL_26,0,17,79,3309,0.000000,0.023874
LC_TLEOL_27,0,17,76,3309,0.000000,0.022968
LC_TLEOL_28,0,17,80,3309,0.000000,0.024176
LC_TLEOL_29,3,17,81,3309,0.176471,0.024479
LC_TLEOL_30,0,17,76,3309,0.000000,0.022968
LC_TLEOL_31,0,17,75,3309,0.000000,0.022665
LC_TLEOL_32,0,17,74,3309,0.000000,0.022363
LC_TLEOL_33,0,17,78,3309,0.000000,0.023572
LC_TLEOL_34,0,17,73,3309,0.000000,0.022061
LC_TLEOL_35,0,17,81,3309,0.000000,0.024479
LC_TLEOL_36,3,17,82,3309,0.176471,0.024781
LC_TLEOL_37,0,17,9,3309,0.000000,0.002720
LC_TLEOL_38,0,17,10,3309,0.000000,0.003022
LC_TLEOL_39,0,17,65,3309,0.000000,0.019643
LC_TLEOL_40,0,17,67,3309,0.000000,0.020248
LC_TLEOL_41,1,17,57,3309,0.058824,0.017226
LC_TLEOL_42,0,17,66,3309,0.000000,0.019946
LC_TLEOL_43,0,17,70,3309,0.000000,0.021154
LC_TLEOL_44,0,17,66,3309,0.000000,0.019946
LC_TLEOL_45,1,17,62,3309,0.058824,0.018737
LC_TLEOL_46,0,17,51,3309,0.000000,0.015413
LC_TLEOL_47,1,17,49,3309,0.058824,0.014808
LC_TLEOL_48,1,17,40,3309,0.058824,0.012088
LC_TLEOL_49,0,17,37,3309,0.000000,0.011182
LC_TLEOL_50,0,17,57,3309,0.000000,0.017226
NA,0,17,9,3309,0.000000,0.002720

,fail qty,total fail qty,prouction qty,total production qty,commonality,produciton ratio
CD_OPID,,,,,,
F1034891,17,17,3309,3309,1.0,1.0

,fail qty,total fail qty,prouction qty,total production qty,commonality,produciton ratio
C44_OPID,,,,,,
F1034891,17,17,3309,3309,1.0,1.0

,fail qty,total fail qty,prouction qty,total production qty,commonality,produciton ratio
4BH6_OPID,,,,,,
F1034891,17,17,3309,3309,1.0,1.0

,fail qty,total fail qty,prouction qty,total production qty,commonality,produciton ratio
CAL_OPID,,,,,,
F1034891,17,17,3309,3309,1.0,1.0

,fail qty,total fail qty,prouction qty,total production qty,commonality,produciton ratio
LK_OPID,,,,,,
F1034891,16,17,3308,3309,0.941176,0.999698
NA,1,17,1,3309,0.058824,0.000302

,fail qty,total fail qty,prouction qty,total production qty,commonality,produciton ratio
LK_VENDOR,,,,,,
,1,17,1,3309,0.058824,0.000302
00,0,17,5,3309,0.000000,0.001511
01,0,17,5,3309,0.000000,0.001511
02,0,17,6,3309,0.000000,0.001813
03,0,17,6,3309,0.000000,0.001813
04,0,17,3,3309,0.000000,0.000907
05,0,17,3,3309,0.000000,0.000907
06,0,17,7,3309,0.000000,0.002115
07,0,17,5,3309,0.000000,0.001511
08,0,17,4,3309,0.000000,0.001209
09,0,17,5,3309,0.000000,0.001511
0A,0,17,5,3309,0.000000,0.001511
0B,0,17,3,3309,0.000000,0.000907
0C,0,17,4,3309,0.000000,0.001209
0D,0,17,4,3309,0.000000,0.001209
0E,0,17,5,3309,0.000000,0.001511
0F,0,17,4,3309,0.000000,0.001209
0G,0,17,2,3309,0.000000,0.000604
0H,0,17,3,3309,0.000000,0.000907
0J,0,17,3,3309,0.000000,0.000907
0K,0,17,4,3309,0.000000,0.001209
0L,0,17,3,3309,0.000000,0.000907
0M,0,17,3,3309,0.000000,0.000907
0N,0,17,4,3309,0.000000,0.001209
0P,0,17,3,3309,0.000000,0.000907
0Q,0,17,3,3309,0.000000,0.000907
0R,0,17,3,3309,0.000000,0.000907
0S,0,17,2,3309,0.000000,0.000604
0T,0,17,3,3309,0.000000,0.000907
0U,0,17,3,3309,0.000000,0.000907
...,...,...,...,...,...,...
Z4,0,17,3,3309,0.000000,0.000907
Z5,0,17,3,3309,0.000000,0.000907
Z6,0,17,2,3309,0.000000,0.000604
Z7,0,17,2,3309,0.000000,0.000604
Z8,0,17,3,3309,0.000000,0.000907
Z9,0,17,1,3309,0.000000,0.000302
ZA,0,17,2,3309,0.000000,0.000604
ZB,0,17,2,3309,0.000000,0.000604
ZC,0,17,2,3309,0.000000,0.000604
ZD,0,17,2,3309,0.000000,0.000604
ZE,0,17,2,3309,0.000000,0.000604
ZF,0,17,2,3309,0.000000,0.000604
ZG,0,17,3,3309,0.000000,0.000907
ZH,0,17,4,3309,0.000000,0.001209
ZJ,0,17,2,3309,0.000000,0.000604
ZK,0,17,3,3309,0.000000,0.000907
ZL,0,17,4,3309,0.000000,0.001209
ZM,0,17,3,3309,0.000000,0.000907
ZN,0,17,4,3309,0.000000,0.001209
ZP,0,17,4,3309,0.000000,0.001209
ZQ,0,17,2,3309,0.000000,0.000604
ZR,0,17,5,3309,0.000000,0.001511
ZS,0,17,2,3309,0.000000,0.000604
ZT,0,17,3,3309,0.000000,0.000907
ZU,0,17,4,3309,0.000000,0.001209
ZV,0,17,5,3309,0.000000,0.001511
ZW,0,17,5,3309,0.000000,0.001511
ZX,0,17,5,3309,0.000000,0.001511
ZY,0,17,2,3309,0.000000,0.000604
ZZ,0,17,3,3309,0.000000,0.000907

,fail qty,total fail qty,prouction qty,total production qty,commonality,produciton ratio
CD_VENDOR,,,,,,
CD,17,17,3309,3309,1.0,1.0

,fail qty,total fail qty,prouction qty,total production qty,commonality,produciton ratio
CD_DATECODE,,,,,,
CD_1845,10,17,11,3309,0.588235,0.003324
CD_1846,7,17,1337,3309,0.411765,0.404050
CD_1847,0,17,1961,3309,0.000000,0.592626

,fail qty,total fail qty,prouction qty,total production qty,commonality,produciton ratio
CAL_VENDOR,,,,,,
CAL,15,17,3305,3309,0.882353,0.998791
SB8,2,17,4,3309,0.117647,0.001209

,fail qty,total fail qty,prouction qty,total production qty,commonality,produciton ratio
CAL_DATECODE,,,,,,
CAL_845,4,17,5,3309,0.235294,0.001511
CAL_846,11,17,656,3309,0.647059,0.198247
CAL_847,0,17,2644,3309,0.000000,0.799033
SB8_809,1,17,1,3309,0.058824,0.000302
SB8_818,1,17,3,3309,0.058824,0.000907

,fail qty,total fail qty,prouction qty,total production qty,commonality,produciton ratio
LK_DATECODE,,,,,,
00_18X0,0,17,5,3309,0.000000,0.001511
01_18X0,0,17,5,3309,0.000000,0.001511
02_18X0,0,17,6,3309,0.000000,0.001813
03_18X0,0,17,6,3309,0.000000,0.001813
04_18X0,0,17,3,3309,0.000000,0.000907
05_18X0,0,17,3,3309,0.000000,0.000907
06_18X0,0,17,7,3309,0.000000,0.002115
07_18X0,0,17,5,3309,0.000000,0.001511
08_18X0,0,17,4,3309,0.000000,0.001209
09_18X0,0,17,5,3309,0.000000,0.001511
0A_18X0,0,17,5,3309,0.000000,0.001511
0B_18X0,0,17,3,3309,0.000000,0.000907
0C_18X0,0,17,4,3309,0.000000,0.001209
0D_18X0,0,17,4,3309,0.000000,0.001209
0E_18X0,0,17,5,3309,0.000000,0.001511
0F_18X0,0,17,4,3309,0.000000,0.001209
0G_18X0,0,17,2,3309,0.000000,0.000604
0H_18X0,0,17,3,3309,0.000000,0.000907
0J_18X0,0,17,3,3309,0.000000,0.000907
0K_18X0,0,17,4,3309,0.000000,0.001209
0L_18X0,0,17,3,3309,0.000000,0.000907
0M_18X0,0,17,3,3309,0.000000,0.000907
0N_18X0,0,17,4,3309,0.000000,0.001209
0P_18X0,0,17,3,3309,0.000000,0.000907
0Q_18X0,0,17,3,3309,0.000000,0.000907
0R_18X0,0,17,3,3309,0.000000,0.000907
0S_18X0,0,17,2,3309,0.000000,0.000604
0T_18X0,0,17,3,3309,0.000000,0.000907
0U_18X0,0,17,3,3309,0.000000,0.000907
0V_18X0,0,17,4,3309,0.000000,0.001209
...,...,...,...,...,...,...
Z5_18X0,0,17,3,3309,0.000000,0.000907
Z6_18X0,0,17,2,3309,0.000000,0.000604
Z7_18X0,0,17,2,3309,0.000000,0.000604
Z8_18X0,0,17,3,3309,0.000000,0.000907
Z9_18X0,0,17,1,3309,0.000000,0.000302
ZA_18X0,0,17,2,3309,0.000000,0.000604
ZB_18X0,0,17,2,3309,0.000000,0.000604
ZC_18X0,0,17,2,3309,0.000000,0.000604
ZD_18X0,0,17,2,3309,0.000000,0.000604
ZE_18X0,0,17,2,3309,0.000000,0.000604
ZF_18X0,0,17,2,3309,0.000000,0.000604
ZG_18X0,0,17,3,3309,0.000000,0.000907
ZH_18X0,0,17,4,3309,0.000000,0.001209
ZJ_18X0,0,17,2,3309,0.000000,0.000604
ZK_18X0,0,17,3,3309,0.000000,0.000907
ZL_18X0,0,17,4,3309,0.000000,0.001209
ZM_18X0,0,17,3,3309,0.000000,0.000907
ZN_18X0,0,17,4,3309,0.000000,0.001209
ZP_18X0,0,17,4,3309,0.000000,0.001209
ZQ_18X0,0,17,2,3309,0.000000,0.000604
ZR_18X0,0,17,5,3309,0.000000,0.001511
ZS_18X0,0,17,2,3309,0.000000,0.000604
ZT_18X0,0,17,3,3309,0.000000,0.000907
ZU_18X0,0,17,4,3309,0.000000,0.001209
ZV_18X0,0,17,5,3309,0.000000,0.001511
ZW_18X0,0,17,5,3309,0.000000,0.001511
ZX_18X0,0,17,5,3309,0.000000,0.001511
ZY_18X0,0,17,2,3309,0.000000,0.000604
ZZ_18X0,0,17,3,3309,0.000000,0.000907
_an,1,17,1,3309,0.058824,0.000302

,fail qty,total fail qty,prouction qty,total production qty,commonality,produciton ratio
C44_VENDOR,,,,,,
C44,17,17,3309,3309,1.0,1.0

,fail qty,total fail qty,prouction qty,total production qty,commonality,produciton ratio
C44_DATECODE,,,,,,
C44_838,0,17,1,3309,0.000000,0.000302
C44_845,14,17,21,3309,0.823529,0.006346
C44_846,3,17,160,3309,0.176471,0.048353
C44_847,0,17,3127,3309,0.000000,0.944998

,fail qty,total fail qty,prouction qty,total production qty,commonality,produciton ratio
4BH6_VENDOR,,,,,,
4BH6,15,17,3304,3309,0.882353,0.998489
CAL8,2,17,4,3309,0.117647,0.001209
FJ88,0,17,1,3309,0.000000,0.000302

,fail qty,total fail qty,prouction qty,total production qty,commonality,produciton ratio
4BH6_DATECODE,,,,,,
4BH6_00630,0,17,1,3309,0.000000,0.000302
4BH6_01400,0,17,2,3309,0.000000,0.000604
4BH6_01620,0,17,16,3309,0.000000,0.004835
4BH6_01621,0,17,4,3309,0.000000,0.001209
4BH6_01670,0,17,44,3309,0.000000,0.013297
4BH6_01671,0,17,25,3309,0.000000,0.007555
4BH6_01791,0,17,1,3309,0.000000,0.000302
4BH6_01800,0,17,16,3309,0.000000,0.004835
4BH6_01801,0,17,2,3309,0.000000,0.000604
4BH6_01880,0,17,1,3309,0.000000,0.000302
4BH6_01910,0,17,1,3309,0.000000,0.000302
4BH6_01940,0,17,1,3309,0.000000,0.000302
4BH6_01941,0,17,2,3309,0.000000,0.000604
4BH6_01950,0,17,1,3309,0.000000,0.000302
4BH6_01981,0,17,1,3309,0.000000,0.000302
4BH6_02111,0,17,1,3309,0.000000,0.000302
4BH6_02120,0,17,1,3309,0.000000,0.000302
4BH6_02121,0,17,3,3309,0.000000,0.000907
4BH6_02280,0,17,5,3309,0.000000,0.001511
4BH6_02290,0,17,1,3309,0.000000,0.000302
4BH6_02300,1,17,1,3309,0.058824,0.000302
4BH6_02361,0,17,2,3309,0.000000,0.000604
4BH6_02400,0,17,1,3309,0.000000,0.000302
4BH6_02480,0,17,2,3309,0.000000,0.000604
4BH6_02560,0,17,14,3309,0.000000,0.004231
4BH6_02561,0,17,20,3309,0.000000,0.006044
4BH6_02621,0,17,1,3309,0.000000,0.000302
4BH6_03270,0,17,32,3309,0.000000,0.009671
4BH6_03271,0,17,16,3309,0.000000,0.004835
4BH6_03280,0,17,7,3309,0.000000,0.002115
...,...,...,...,...,...,...
4BH6_92080,0,17,2,3309,0.000000,0.000604
4BH6_92081,0,17,1,3309,0.000000,0.000302
4BH6_92100,0,17,4,3309,0.000000,0.001209
4BH6_92101,0,17,9,3309,0.000000,0.002720
4BH6_92110,0,17,31,3309,0.000000,0.009368
4BH6_92111,0,17,11,3309,0.000000,0.003324
4BH6_92121,0,17,1,3309,0.000000,0.000302
4BH6_92340,0,17,10,3309,0.000000,0.003022
4BH6_92341,0,17,2,3309,0.000000,0.000604
4BH6_92360,0,17,4,3309,0.000000,0.001209
4BH6_92361,0,17,12,3309,0.000000,0.003626
4BH6_92391,0,17,2,3309,0.000000,0.000604
4BH6_92450,0,17,2,3309,0.000000,0.000604
4BH6_92451,0,17,2,3309,0.000000,0.000604
4BH6_92460,0,17,5,3309,0.000000,0.001511
4BH6_92461,0,17,8,3309,0.000000,0.002418
4BH6_92470,0,17,4,3309,0.000000,0.001209
4BH6_92471,0,17,5,3309,0.000000,0.001511
4BH6_92480,0,17,1,3309,0.000000,0.000302
4BH6_92501,0,17,2,3309,0.000000,0.000604
4BH6_92530,0,17,31,3309,0.000000,0.009368
4BH6_92531,0,17,27,3309,0.000000,0.008160
4BH6_92541,0,17,1,3309,0.000000,0.000302
4BH6_92600,0,17,17,3309,0.000000,0.005138
4BH6_92601,0,17,4,3309,0.000000,0.001209
CAL8_3,0,17,1,3309,0.000000,0.000302
CAL8_7,1,17,1,3309,0.058824,0.000302
CAL8_P,1,17,1,3309,0.058824,0.000302
CAL8_W,0,17,1,3309,0.000000,0.000302
FJ88_045,0,17,1,3309,0.000000,0.000302